<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productes favorits</title>
</head>
<body>
    {% extends 'layouts/navbars.html' %}
    {% block content %}
    {% load static %}

    <script src="{% static 'js/ajax.js' %}" defer></script>

    <div class="content">
        <h1>Productes favorits</h1>
        <a class="tornarButton" href="{% url 'indexLogat' %}">Tornar</a>
        <div class="divProducts-container">
            {% for product in products %}
                <div class="divProducts">
                    <img src="{{ product.image }}" alt="{{ product.name }}">
                    <strong>{{ product.name }}</strong>

                    <div class="price">
                        {% if product.old_price %}
                            <span class="oldPrice">{{ product.old_price }}€</span>
                        {% endif %}
                        <span>{{ product.price }}€</span>
                    </div>

                    <a href="{{ product.share_url }}" target="_blank">Veure Producte</a>

                    {% if product.id|stringformat:"s" in products %}
                    <button id="favoriteButton{{ product.id }}" onclick="toggleFavorite('{{ product.id }}', false)">
                        <img src="{% static 'ea.png' %}" alt="Treure de favorits" style="width: 16px; height: 16px;">
                    </button>
                    {% else %}
                        <button id="favoriteButton{{ product.id }}" onclick="toggleFavorite('{{ product.id }}', true)">
                            <img src="{% static 'ea.png' %}" alt="Afegir a favorits" style="width: 16px; height: 16px;">
                        </button>
                    {% endif %}
                </div>
            {% empty %}
                <p>No hi ha productes favorits.</p>
            {% endfor %}
        </div>
    {% endblock %}
</body>
</html>