<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grup Familiar</title>
</head>
<body>
    {% extends 'layouts/navbars.html' %}
    {% block content %}
    <div class="content">
        {% if groups_with_members %}
            <h2>Els teus grups:</h2>
            {% for group_data in groups_with_members %}
            
                <div class="group-box">
                    <div class="group-header">
                        <h2>{{ group_data.group.name }}</h3>
                    </div>
                    <h4>Membres del grup:</h4>
                    <ul class="member-list">
                        {% for user in group_data.members %}
                        <li class="member-item">
                            {{ user.username }}
                            {% if user == request.user %}
                                <span class="badge-you">(You)</span>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                    <div class="div-groupButtons">
                        <a class="groupButtons" href="{% url 'addGroupMember' group_data.group.id %}" class="btn-add">Afegir integrants</a>
                        <a class="groupButtons" href="{% url 'leaveGroup' group_data.group.id %}" class="btn-leave">Sortir del grup</a>
                        <a class="groupButtons" href="{% url 'shoppingCartList' group_data.group.id %}">Consultar carret</a>
                    </div>
                </div>
            <br>
            {% endfor %}
        {% else %}
            <h2>No formes part de cap grup.</h2>
        {% endif %}
        <div class="create-group">
            <p>Pots crear un nou grup <a href="{% url 'createGroup' %}" class="btn-create">Aquí</a></p>
            <p>O pots escanejar un QR i unirte a un grup existent <a href="">Aqui</a></p>
        </div>
    </div>
    {% endblock %}
</body>
</html>