<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grup Familiar</title>
</head>
<body>

    {% extends 'layouts/navbars.html' %}
    {% block content %}
    <div class="content">

        {% if group %}
        
            <h2>Nom del grup: {{ group.name }}</h2>
            <h3>Membres del grup:</h3>
            <ul>
                {% for member in members %}
                    <li>{{ member.user.username }}</li>
                {% endfor %}
            </ul>
            <a href="{% url 'addGroupMember' %}">Afegir integrants</a>
            <a href="{% url 'leaveGroup' %}">Sortir del grup</a>
        {% else %}
            <h2>No formes part de cap grup.</h2>
            <p>Pots crear un grup i unir-te <a href="{% url 'createGroup' %}">Aqui</a></p>
        {% endif %}
    </div>

    {% endblock  %}

    
</body>
</html>