<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Mercadonas Cercanos</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css" rel="stylesheet" />
    <style>
        body { margin:0; padding:0; }
        #map { position:absolute; top:0; bottom:0; width:100%; }
    </style>
</head>
<body>

<div id="map"></div>

<script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoiam9zZTA4MDUiLCJhIjoiY205Y3R5MTZ4MDZybDJqcXRvaXQ2YWtzeiJ9.jaLJjbJH6dZ6a-21MjnayA';

    navigator.geolocation.getCurrentPosition(successLocation, errorLocation, {
        enableHighAccuracy: true
    });

    let map;

    function successLocation(position) {
        const userCoords = [position.coords.longitude, position.coords.latitude];
        mostrarMapaConUbicacion(userCoords);
        buscarMercadonas(userCoords);
    }

    function errorLocation() {
        alert("No se pudo obtener tu ubicación");
    }

    function mostrarMapaConUbicacion(center) {
        map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: center,
            zoom: 14
        });

        new mapboxgl.Marker({ color: 'blue' })
            .setLngLat(center)
            .setPopup(new mapboxgl.Popup().setText("Estás aquí"))
            .addTo(map);
    }

    async function buscarMercadonas(coord) {
        const [lng, lat] = coord;


        const query = `https://api.mapbox.com/geocoding/v5/mapbox.places/Caprabo.json?country=es&limit=10&access_token=${mapboxgl.accessToken}`;

        const response = await fetch(query);
        const data = await response.json();

        console.log(data);  

        data.features.forEach((place) => {
            new mapboxgl.Marker({ color: 'green' })
                .setLngLat(place.center)
                .setPopup(new mapboxgl.Popup().setHTML(`<strong>${place.text}</strong><br>${place.place_name}`))
                .addTo(map);
        });
    }
</script>

</body>
</html>
