{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<footer>
    <div class="footer-section">
        <h4>General</h4>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'indexLogat' %}">Home Logat</a></li>
            <li><a href="{% url 'groups' %}">Groups</a></li>
            <li><a href="{% url 'map' %}">Markets Map</a></li>
        </ul>
    </div>
    <div class="footer-section">
        <h4>Products</h4>
        <ul>
            <li><a href="{% url 'favorites' %}">Favorites</a></li>
            <li><a href="{% url 'shoppingCartList' %}">Shopping Cart</a></li>
            <li><a href="{% url 'history' %}">History</a></li>
        </ul>
    </div>
    <div class="footer-section">
        <h4>API</h4>
        <ul>
            <li><a href="{% url 'getProducts' %}">Get Products</a></li>
            <li><a href="{% url 'getProduct' name='example' %}">Get Product by Name</a></li>
            <li><a href="{% url 'getProductP' price='10' %}">Get Product by Price</a></li>
            <li><a href="{% url 'getProductPHigher' price='10' %}">Get Products Higher Price</a></li>
            <li><a href="{% url 'getProductPLower' price='10' %}">Get Products Lower Price</a></li>
            <li><a href="{% url 'getProductWithDiscount' boolean='true' %}">Get Products with Discount</a></li>
        </ul>
    </div>
</footer>

