<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barra de Navegación</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/navbars.css' %}">
    <link rel="icon" href="{% static 'sup.ico' %}" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    
</head>
<body>
    <button class="skipToContent" id="skipToContent" onclick="document.querySelector('.content').scrollIntoView({ behavior: 'smooth' });">Bajar al contenido</button>
    <nav class="topbar">
        <div class="topbarItems">
            <a href="{% url 'index' %}" class="logoweb">
            <img class="logoweb" src="{% static 'logo.png' %}" alt="Logo de la web">
            </a>
            
             <button class="menuToggle" onclick="toggleMergedMenu()">☰</button>
            
            <div class="navContent" id="navContent">
                {% if user.is_authenticated %}
                    <h2 class="topbarUsername">Bienvenido, {{ user.username }}.</h2>
    
                    <a href="{% url 'index' %}"><img alt="Inicio" class="homeButton" src="{% static 'casa.png' %}"></a>
                    <a href="{% url 'map' %}"><img alt="Mapa" class="homeButton" src="{% static 'mapa.png' %}"></a>
                    
    
                    <div class="userThings">
                        <div>
                            <a href="{% url 'shoppingCartList' %}">
                                <img class="shoppingCart" src="{% static 'carrito.png' %}">
                            </a>
                        </div>
    
                        <div class="userDropdown">
                            <img alt="Imatge de l'usuari" src="{% static 'user.png' %}" class="userImage" id="userImage" tabindex="0" aria-haspopup="true" aria-expanded="false" onfocus="toggleDropdown()" onblur="delayedCloseDropdown()">
                            <div class="dropdown-menu" id="dropdownMenu">
                                <a tabindex="0" href="{% url 'configuration' %}">Editar perfil</a>
                                <a tabindex="0" href="{% url 'logout' %}">Cerrar sessión</a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <a href="{% url 'index' %}"><img class="homeButton" src="{% static 'casa.png' %}"></a>
                    <a href="{% url 'map' %}"><img alt="Mapa" class="homeButton" src="{% static 'mapa.png' %}"></a>
                    <div class="divAuth">
                        <a class="loginBtn" href="{% url 'login' %}">Iniciar sesión</a>
                        <a class="registerBtn" href="{% url 'register' %}">Registrarse</a>
                    </div>
                {% endif %}
            </div>
        </div>
    
        
    </nav>

    

<div class="horizontalMenu" id="horizontalMenu">
    <a href="{% url 'history' %}"><img src="{% static 'historial.png' %}" alt="Historial"><span>Historial</span></a>
    <a href="{% url 'groups' %}"><img src="{% static 'grupo.png' %}" alt="Grups"><span>Grupos</span></a>
    <a href="{% url 'favorites' %}"><img src="{% static 'corazon.png' %}" alt="Favorits"><span>Favoritos</span></a>
</div>

<nav>
    <div class="sidebar" id="sidebar">  
        <br>
        <br>
        <a class="sidebarUrls" href="{% url 'history' %}">
            <img class="logos" src="{% static 'historial.png' %}" alt="historial de compra">
            <p class="sidebarLogoText"><b>Historial</b></p>
        </a>
        <a class="sidebarUrls" href="{% url 'groups' %}">
            <img class="logos" src="{% static 'grupo.png' %}" alt="Grups dels usuaris">
            <p class="sidebarLogoText"><b>Grupos</b></p>
        </a>
        <a class="sidebarUrls" href="{% url 'favorites' %}">
            <img class="logos" src="{% static 'corazon.png' %}" alt="Productes Favorits">
            <p class="sidebarLogoText"><b>Favoritos</b></p>
        </a>
        <div class="divLogos">
            <a class="logos" href="https://www.mercadolivre.com.br/">
            <img style="height: 70px; width: 70px;" src="{% static 'lidl.png' %}" alt="Logo de lidl">
            </a>
            <a class="logos" href="https://www.mercadona.es/">
            <img style="height: 70px; width: 70px;" src="{% static 'mercadona.png' %}" alt="Logo de mercadona">
            </a>
        </div>
    </div>
</nav>




<div id="mergedMenu" class="mergedMenu">
    
    <div class="userThings">
        <a href="{% url 'history' %}">
            <img class="logos" src="{% static 'historial.png' %}" alt="historial de compra">
        </a>
        <a  href="{% url 'groups' %}">
            <img class="logos" src="{% static 'grupo.png' %}" alt="Grups dels usuaris">
        </a>
        <a  href="{% url 'favorites' %}">
            <img class="logos" src="{% static 'corazon.png' %}" alt="Productes Favorits">
        </a>
    </div>
    <div class="userThings">
        {% if user.is_authenticated %}
    
                <a href="{% url 'index' %}"><img alt="Inicio" class="homeButton" src="{% static 'casa.png' %}"></a>
                <a href="{% url 'map' %}"><img alt="Mapa" class="homeButton" src="{% static 'mapa.png' %}"></a>

                <div class="userThings">
                    <div>
                        <a href="{% url 'shoppingCartList' %}">
                            <img class="shoppingCart" src="{% static 'carrito.png' %}">
                        </a>
                    </div>

                    <div class="userDropdown">
                        <img alt="Imatge de l'usuari" src="{% static 'user.png' %}" class="userImage" id="userImage" tabindex="0" aria-haspopup="true" aria-expanded="false" onfocus="toggleDropdown()" onblur="delayedCloseDropdown()">
                        <div class="dropdown-menu" id="dropdownMenu">
                            <a tabindex="0" href="{% url 'configuration' %}">Editar perfil</a>
                            <a tabindex="0" href="{% url 'logout' %}">Cerrar sessión</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <a href="{% url 'index' %}"><img class="homeButton" src="{% static 'casa.png' %}"></a>
                <a href="{% url 'map' %}"><img alt="Mapa" class="homeButton" src="{% static 'mapa.png' %}"></a>
                <div class="divAuth">
                    <a class="loginBtn" href="{% url 'login' %}">Iniciar sesión</a>
                    <a class="registerBtn" href="{% url 'register' %}">Registrarse</a>
                </div>
            {% endif %} 
    </div>
</div>


    <script>

        function toggleMergedMenu() {
            const menu = document.getElementById("mergedMenu");
            menu.classList.toggle("show");
        }

    </script>

    {% block content %}
    {% endblock %}
    
</body>
</html></div>