<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barra de Navegación</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/navbars.css' %}">
    <link rel="icon" href="{% static 'sup.ico' %}" type="image/x-icon">
    
</head>
<body>

    <div class="topbar">
        <div class="topbarItems" >
            <img class="logoweb" src="{% static 'logo.png' %}" alt="Logo de la web" >
            
            {% if user.is_authenticated %}
                <h2 class="topbarUsername" >Benvingut {{user.username}}</h2>
                
                <a href="{% url 'indexLogat' %}"><img alt="Inici" class="homeButton" src="{% static 'casa.png' %}"></a>
                <a href="{% url 'map' %}"><img alt="Mapa" class="homeButton" src="{% static 'mapa.png' %}"></a>
                <div class="userThings">
                    <div>
                        <a href="{% url 'shoppingCartList' %}"><img class="shoppingCart" src="{% static 'carrito.png' %}"></img></a>
                    </div>
                    
                    <div class="userDropdown">
                            <img alt="Imatge de l'usuari" src="{% static 'user.png' %}" class="userImage" id="userImage">
                        <div class="dropdown-menu" >
                            <a href="{% url 'configuration' %}">Editar perfil</a>
                            <a href="{% url 'logout' %}">Tancar sessió</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <li>
                    <a href="{% url 'index' %}"><img class="homeButton" src="{% static 'casa.png' %}"></a>
                </li>
                <li>
                    <a href="{% url 'login' %}">Logar-se</a>
                </li>
                <li>
                    <a href="{% url 'register' %}">Registrar-se</a>
                </li>
            {% endif %}
        </div>
    </div>

    <div class="sidebar">
        <h2>Menú</h2>
        <a class="sidebarUrls" href="{% url 'history' %}">
            <img class="logos" src="{% static 'historial.png' %}" alt="historial de compra">
            <p style="margin: 0;">Historial</p>
        </a>
        <a class="sidebarUrls" href="{% url 'groups' %}">
            <img class="logos" src="{% static 'grupo.png' %}" alt="Grups dels usuaris">
            <p style="margin: 0;">Grups</p>
        
        <a class="sidebarUrls" href="{% url 'favorites' %}">
            <img class="logos" src="{% static 'corazon.png' %}" alt="Productes Favorits">
            <p style="margin: 0;">Favorits</p>
        </a>
        
        <div class="divLogos">
            <img class="logos" src="{% static 'lidl.png' %}" alt="Logo de lidl">
            <img class="logos" src="{% static 'mercadona.png' %}" alt="Logo de mercadona">
        </div>
    </div>

    {% block content %}
    {% endblock %}
    
</body>
</html></div>