<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% extends 'layouts/navbars.html' %}
    {% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <main>
    <div class="content">
        <h2>Estas seguro/a que quieres eliminar tu cuenta?</h2>
        <p>Si eliminas la cuenta no la podras recuperar.</p>
        {% if group %}
            <p>Actualmente estas en el/los grupo/s: <b>
                {% for grp in group %}
                    {{ grp }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </b>.Si eliminas la cuenta saldras de/los grupo/s.</p>
        {% endif %}

        {% if qtFavProducts %}
            <p>Tienes un total de <b>{{qtFavProducts}}</b> productos favoritos, si eliminas tu cuenta perderás todos tus productos.</p>
        {% endif %}
        <form action="{% url 'deleteAccount' %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Eliminar">
        </form>
    </div>
    </main>
    {% include 'layouts/footer.html' %}
    {% endblock %}
    
    
</body>
</html>