.configForm {

    align-items: center;
    width: 100%;
    padding: 1rem 1rem 1rem 1rem;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 2rem 0 2rem -1rem;
    left: 25%;
    background-color: wheat;
    border: none;
    height: 50%;
    width: 50%;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.saveButton{
    
    background-color: #007bff;
    color: white;
    border: none;
    text-decoration: none;
    border-radius: 10px;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    width: 100%;
}

.configInputs{

    border: none;
    border-radius: 10px;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    width: 100%;        
}

.dngButton{
    
    background-color: #ff0000;
    color: white;
    border: none;
    text-decoration: none;
    border-radius: 10px;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    width: 100%;
}

.dngButton:hover{
    background-color: #7f0202;
}

