body {

    background-color: #f0f0f0;
    font-family: monospace, sans-serif;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    
}

.listButtons, .tickButton {
    border: none;
    border-radius: 50%;
    background-color: transparent; 
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s ease, background-color 0.3s ease;
    
}

.listButtons:hover {
    transform: rotate(180deg);
    background-color: lightgray;
}

.buttonImg {
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    
}

.divCartProducts {

    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    border-radius: 10px;
    background-color: white;
    width: 70%;
    padding: 1rem;
    gap: 1rem;
    justify-content: space-between;
    margin-top: 1%;
}

.divCartProducts .productField {

    flex: 1; 
    white-space: normal; 
    word-wrap: break-word; 
}

.price{

    gap: 1rem;
    align-items: center;
    text-align: center;

}

.oldPrice{
    text-decoration: line-through;
    color: red;
}

.tornarButton {
    display: inline-block;
    padding: 5px 10px;
    background-color: white;
    border: 1px solid black;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    font-size: 0.9rem;
    text-align: center; /* Ensures text is centered */
    width: auto; /* Ensures button size adjusts to content */
}

.tornarButton:hover {
    background-color: lightgray; 
}

.page-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-left: 10%; /* por la sidebar */
}

.messages {
    background-color: #37e7e7;
    font-family: Arial, sans-serif;
    margin-top: 3%;
    padding: 1rem;
    border: none;
    border-radius: 10px;
}

.errors {
    width: auto;
    background-color: #ff0000;
    font-family: Arial, sans-serif;
    margin-top: 1rem;
    padding: 1rem;
    border: none;
    border-radius: 10px;
}

.productImg{
    width: 50px;
    height: 50px;
}

.brandImg{
    height: 50px; 
    width: 50px; 
    margin: 0 3rem 0 3rem;
}

@media (max-width: 768px) {

    .content {
        margin-left: 10%;
        padding: 5rem;
        background-color: #f0f0f0;
        animation: fadeIn 0.5s ease-in-out;
    }


    .divCartProducts {
        font-size: x-small;
        flex-direction: column;
        width: 18.8rem;
        padding: 0.5rem;
        gap: 0.5rem;
    }

    .divCartProducts .productField {
        text-align: center;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {

    .content {
        margin-left: 10%;
        padding: 5rem;
        background-color: #f0f0f0;
        animation: fadeIn 0.5s ease-in-out;
    }

    .page-wrapper {
        
        margin-left: 0; /* Elimina el margen izquierdo en pantallas pequeñas */
    }
    .divCartProducts {
        font-size: x-small;
        width: 100%; /* Asegura que ocupe todo el ancho disponible */
    }
    
}