.divProducts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    background-color: f0f0f0;
    padding: 20px;
    border-radius: 10px;
}

.divProducts {
    background-color: white;
    width: 200px;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.divProducts img {
    width: 100%;
    height: 120px;
    object-fit: contain;
    border-radius: 5px;
}

.divProducts strong {
    display: block;
    margin: 10px 0;
    font-size: 1rem;
}

/*.divProducts a {
    display: block;
    margin-top: auto; 
    padding: 5px;
    height: 20px;
    background-color: white;
    border: 1px solid black;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    font-size: 0.9rem;
}

.divProducts a:hover {
    background-color: lightgray; 
}*/

.moreInfo {
    display: block;
    margin-top: auto; 
    padding: 5px;
    height: 20px;
    background-color: white;
    border: 1px solid black;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    font-size: 0.9rem;
}

.moreInfo:hover {
    cursor: pointer;
    background-color: lightgray; 
}

.buyButton, .buttons{
    display: inline-block;
    padding: 5px 10px;
    background-color: white;
    border: 1px solid black;
    text-decoration: none;
    color: black;
    height: 31.6px;
    border-radius: 5px;
    font-family: monospace,sans-serif;
    font-size: 0.9rem;
    text-align: center; 
    width: auto; 
    transition: background-color 0.3s ease;
}

.buyButton:hover, .buttons:hover {
    background-color: lightgray; 
    cursor: pointer;
}

.afix{
    all: unset;
}

.afix:hover{
    cursor: pointer;
}

.searchBar {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
    box-sizing: border-box; /* Ensures padding is included in width */
}