<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Acceptar Invitació</title>
</head>
<body>

    {% extends 'layouts/navbars.html' %}
    {% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <div class="content">
        {% if message %}
            <div class="messages">
                {{message}}
            </div>
        {% endif %} 

        {% if error %}
            <div class="errors">
                {{error}}
            </div>
        {% endif %}
    </div>
    {% endblock %}
</body>
</html>
