<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Grupos</title>
</head>
<body>
    {% extends 'layouts/navbars.html' %}
    {% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/global.css' %}">

    <main>
    <div class="content">
    
        <header>
        <h1>Añadir integrante al grupo familiar</h1>
        </header>
        <form method="post">

            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Añadir</button>
        </form>

        {% if message %}
            <div class="messages">
                {{message}}
            </div>
        {% endif %} 

        {% if error %}
            <div class="errors">
                {{error}}
            </div>
        {% endif %} 

        {% if qrCode %}
        <div>
            <h2>O si tienes un lector de QR a mano</h2>
            <img style="height: 400px; width: 400px;" src="data:image/png;base64,{{ qrCode }}" alt="Código QR">
        </div>
        {% endif %}
    </div>
    </main>

    {% endblock  %}
</body>
</html>