<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear un producte</title>
</head>
<body class="noBackground">

    {% extends 'layouts/navbars.html' %}
    {% load static %}
    {% block content %}
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/apiForms.css' %}">

    <div class="content">

        <div class="divApiForms">
            <h1>Crear un producte</h1>
            {% if name %}
                <p>{{name}}</p>
            {% endif %}
            <form method="post">
                
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit">Crear</button>

            </form>

            {% if error %}
                <div class="errors">
                    {{error}}
                </div>
            {% endif %} 
        </div>
    </div>
    {% endblock  %}
</body>
</html>