<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    {% load static %}
    {% load socialaccount %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    
    <div class="divLogo">

        {% if user.is_authenticated %}
            <a class="" href="{% url 'indexLogat' %}">
                <img src="{% static 'logo.png' %}" alt="Logo de la web" class="logo">
            </a>
        {% else %}
            <a class="" href="{% url 'index' %}">
                <img src="{% static 'logo.png' %}" alt="Logo de la web" class="logo">
            </a>
        {% endif %}
    </div>
    
    <div class="divSupers">

        <p>Encontrarás productos de los siguientes supermercados.</p>

        <div class="divLogos">

            <img class="logos" src="{% static 'lidl.png' %}" alt="Logo de lidl">
            <img class="logos" src="{% static 'mercadona.png' %}" alt="Logo de mercadona">
        </div>  
        
    </div>
   

    <div class="divContent">
        <h1>Iniciar sesión</h1>

        {{error}}

        <form method="post">

            {% csrf_token %}
            {{form.as_p}}
            <p>Si no tienes una cuenta, <a href="{% url 'register' %}">Regístrate</a></p>
            <p>¿Has olvidado la contraseña? <a href="{% url 'sendEmail' %}">Restablécela</a></p>
            <a href="{% provider_login_url 'google' %}">Login amb Google</a>
            <a href="{% provider_login_url 'github' %}">Login amb Github</a>
            <button type="submit">Iniciar sesión</button>
            
        </form>
    </div>
    

</body>
</html>