<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% extends 'layouts/navbars.html' %}
    {% block content %}
    {% load static %}
        <link rel="stylesheet" href="{% static 'css/global.css' %}">
        <link rel="stylesheet" href="{% static 'css/userForms.css' %}">
        <div class="content">
            <div class="resetPwdForm">
                <h1>Restablir contrasenya</h1>
                <p>Si us plau, introdueix el teu correu electrònic per restablir la contrasenya.</p>
                <form method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit">Enviar correu</button>
                </form>
            </div>
            
            {% if error %}
                <div class="errors">
                    <p>{{error}}</p>
                </div>
            {% endif %}
            {% if success %}
                <div class="messages">
                    <p>{{success}}</p>
                </div>
            {% endif %}
        </div>

        {% include 'layouts/footer.html' %}
    {% endblock %}
</body>
</html>