<!DOCTYPE html>
<html lang="cat">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% extends 'layouts/navbars.html' %}
    {% block content %}
    {% load static %}

        <link rel="stylesheet" href="{% static 'css/global.css' %}">
        <link rel="stylesheet" href="{% static 'css/categories.css' %}">
        <div class="content">

        <main>
            <header>
                <h1>Subcategorias</h1>
            </header>
            <div class="categories-container">
                {% for category in categories %}
                    <a href="{% url 'products' category.id %}" class="category-button">
                        {{category.id}} - {{ category.name }}
                    </a>
                {% endfor %}
            </div>
            
            
        </main>

    {% endblock  %}
</body>
</html>