<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productes favorits</title>
</head>
<body>
    {% extends 'layouts/navbars.html' %}
    {% block content %}
    {% load static %}

    <script src="{% static 'js/ajax.js' %}" defer></script>

    <div class="content">
        <h1>Productes favorits</h1>
        <select class="groupsDropdown" id="groupsDropdown" onchange="refreshFavoriteGroups(this.value) ">
            <option value="user">El meu perfil</option>
            {% for group in groups %}
            <option value="{{ group.id }}">{{ group.name }}</option>
            {% endfor %}
        </select>
        <a class="tornarButton" href="{% url 'indexLogat' %}">Tornar</a>
        <form method="post" id="updateProductsForm" action="{% url 'refreshFavorites' %}">
            <button>Actualitzar productes</button>
            {% csrf_token %}
        </form>
        <div class="divProducts-container">
            {% for product in products %}
                {% if not product.group_id %}
                    <div class="divProducts">
                        <img src="{{ product.image }}" alt="{{ product.name }}">
                        <strong>{{ product.name }}</strong>

                        <div class="price">
                            {% if product.old_price %}
                                <span class="oldPrice">{{ product.old_price }}€</span>
                            {% endif %}
                            <span>{{ product.price }}€</span>
                        </div>
                        <hr>
                        {% if product.id|stringformat:"s" in shopingList %}
                            {% for product_id, quantity in qnty %}
                                {% if product_id|stringformat:"s" == product.id|stringformat:"s" %}
                                    <button id="addToCartButton{{ product.id }}" onclick="addProductToCart('{{ product.id }}', getSelectedGroupId())">En el carret: {{ quantity }}</button>
                                {% endif %}
                            {% endfor %}
                        {% else %}

                            <button id="addToCartButton{{ product.id }}" onclick="addProductToCart('{{ product.id }}', getSelectedGroupId())">No esta al carret</button>
                        {% endif %}
                    
                        {% if product.id|stringformat:"s" in products %}
                        <button id="favoriteButton{{ product.id }}" onclick="toggleFavorite('{{ product.id }}', false, getSelectedGroupId())">
                            <img src="{% static 'ea.png' %}" alt="Treure de favorits" style="width: 16px; height: 16px;">
                        </button>
                        {% else %}
                            <button id="favoriteButton{{ product.id }}" onclick="toggleFavorite('{{ product.id }}', true, getSelectedGroupId())">
                                <img src="{% static 'ea.png' %}" alt="Afegir a favorits" style="width: 16px; height: 16px;">
                            </button>
                        {% endif %}
                    </div>
                {% endif %}
            {% empty %}
                <p>No hi ha productes favorits.</p>
            {% endfor %}
        </div>
    </div>
    {% include 'layouts/footer.html' %}
    {% endblock %}
</body>
</html>