<!DOCTYPE html>
<html lang="es"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupo Familiar</title>
</head>
<body>
    {% extends 'layouts/navbars.html' %}
    {% block content %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/groups.css' %}">

    <main>
    <div class="content">
        {% if groups_with_members %}
            <h2>Tus grupos:</h2>
            <div class="create-group">
                <p>Puedes crear un nuevo grupo <a href="{% url 'createGroup' %}" class="btn-create">Aquí</a></p>
                <p>O puedes escanear un QR y unirte a un grupo existente <a href="{% url 'qrCodeReader' %}">Aquí</a></p>
            </div>
            {% for group_data in groups_with_members %}
            
                <div class="group-box">
                    <div class="group-header">
                        <h2>{{ group_data.group.name }}</h3>
                    </div>
                    <h4>Miembros del grupo:</h4>
                    <ul class="member-list">
                        {% for user in group_data.members %}
                        <li class="member-item">
                            {{ user.username }}
                            {% if user == request.user %}
                                <span class="badge-you">(Tú)</span>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                    <div class="div-groupButtons">
                        <a class="groupButtons" href="{% url 'addGroupMember' group_data.group.id %}" class="btn-add">Añadir integrantes</a>
                        <a class="groupButtons" href="{% url 'leaveGroup' group_data.group.id %}" class="btn-leave">Salir del grupo</a>
                        <a class="groupButtons" href="{% url 'shoppingCartList' group_data.group.id %}">Consultar carrito</a>
                    </div>
                </div>
            <br>
            {% endfor %}
        {% else %}
            <h2>No formas parte de ningún grupo.</h2>
            <div class="create-group">
                <p>Puedes crear un nuevo grupo <a href="{% url 'createGroup' %}" class="btn-create">Aquí</a></p>
                <p>O puedes escanear un QR y unirte a un grupo existente <a href="{% url 'qrCodeReader' %}">Aquí</a></p>
            </div>
        {% endif %}
    </div>
    </main>
    {% include 'layouts/footer.html' %}
    {% endblock %}
</body>
</html>