<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial</title>
</head>
<body>
    {% extends 'layouts/navbars.html' %}
    {% block content %}
    {% load static %}
    <div class="content">
        <form method="post">
            {% if history %}
                <h2>Historial de comandes</h2>
                <select class="groupsDropdown" id="groupsDropdown" onchange="refreshGroupTickets(this.value)">
                    <option value="user">El meu perfil</option>
                    {% for group in groups %}
                    <option value="{{ group.id }}">{{ group.name }}</option>
                    {% endfor %}
                </select>
                <div id="ticketsContainer">
                    <ul>
                        {% for history in history %}
                        <details>
                            <summary>Ticket ID: {{ history.ticket_id }}</summary>
                            <hidden id="{{ history.ticket_id }}"></hidden>
                            <ul>
                            {% for product in history.products %}
                                <div id="product{{ product.product_id }}" class="divCartProducts">
                                <h2 id="name{{ product.product_id }}" class="productField">{{ product.name }}</h2>
                                <img id="image{{ product.product_id }}" src="{{ product.image }}" alt="Product Image" style="height: 50px; width: 50px;">
                                <p id="price{{ product.product_id }}" class="productField">{{ product.price }}€</p>
                                {% if product.old_price %}
                                    <p id="oldPrice{{ product.product_id }}" class="productField old-price">{{ product.old_price }}€</p>
                                {% endif %}
                                <p id="quantity{{ product.product_id }}">Quantitat: {{ product.quantity }}</p>
                                {% if product.product_id in cartItems %}
                                    <button class="tickButton" id="removeButton{{ product.product_id }}" type="button">
                                    <img class="buttonImg" src="{% static 'tick.png' %}" alt="Product already in cart">
                                    </button>
                                {% else %}
                                    <button class="listButtons" id="addButton{{ product.product_id }}" type="button" onclick="addProductHistory('{{ product.product_id }}', '{{ history.ticket_id }}')">
                                    <img class="buttonImg" src="{% static 'plus.png' %}" alt="Add product">
                                    </button>
                                {% endif %}
                                </div>
                            {% endfor %}
                            </ul>
                        </details>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
            <div id="ticketsContainer">
                <h2>No hi ha historial de comandes.</h2>
            </div>
            {% endif %}
            
        </form>
    </div>
    <script src="{% static 'js/ajax.js' %}" defer></script>

    {% include 'layouts/footer.html' %}
    {% endblock %}
</body>
</html>
