<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" type="image/png" href="https://vglxraahlckdanallbfi.supabase.co/storage/v1/object/public/book-covers//9ee148e9-f446-4eab-a005-983ee595bc8e.png">
</head>
<body>
    {% extends 'layouts/navbars.html' %}
    {% block content %}
    {% load static %}

        <link rel="stylesheet" href="{% static 'css/global.css' %}">
        <link rel="stylesheet" href="{% static 'css/categories.css' %}">
    
    <main>
        <div class="content">
            <img src="{% static 'banner.jpg' %}" alt="Logo" class="bannerLogo">

            <section class="banners">
                <a href="{% url 'indexLogat' %}" class="banner">
                    <img src="{% static 'fons.jpg' %}" alt="Consultar productos" class="banner-img">
                    <span>Consultar productos</span>
                </a>
                <a href="{% url 'favorites' %}" class="banner">
                    <img src="{% static 'corazon.png' %}" alt="Consultar productos favoritos" class="banner-img">
                    <span>Consultar productos favoritos</span>
                </a>
                <a href="{% url 'history' %}" class="banner">
                    <img src="{% static 'historial.png' %}" alt="Consultar historial" class="banner-img">
                    <span>Consultar historial</span>
                </a>
                <a href="{% url 'groups' %}" class="banner">
                    <img src="{% static 'grupo.png' %}" alt="Consultar grupos" class="banner-img">
                    <span>Consultar grupos</span>
                </a>
            </section>
        </div>
        
    </main>

    {% include 'layouts/footer.html' %}
    {% endblock  %}
    
</body>
</html>
