<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% extends 'layouts/navbars.html' %}
    {% block content %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/categories.css' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/products.css' %}">

    <main>
        <div class="content">
            <header>
                <h1>Categorias</h1>
            </header>
            {% if user.is_authenticated %}
                <div class="groupsDropdownContainer">
                    <select class="groupsDropdown" id="groupsDropdown" onchange="refreshGroupProducts(this.value)">
                        <option value="user">Mi perfil</option>
                        {% for group in groups %}
                        <option value="{{ group.id }}">{{ group.name }}</option>
                        {% endfor %}
                    </select>
                    <p>← Selecciona perfil(Por defecto será el personal)</p>
                </div>
            {% endif %}
            <br>
            <br>
            {% if user.is_authenticated %}
                <input class="searchBar" type="text" id="search-input" placeholder="Buscar productos..." oninput="buscarProductos(0)">
            {% else %}
                <input class="searchBar" type="text" id="search-input" placeholder="Buscar productos..." oninput="buscarProductos(1)">
            {% endif %}
            <div id="divProducts" class="divProducts-container"></div>

            <hr>
            <section class="categories-section">
                <div class="categories-container">
                    {% for category in categories %}
                        <a href="{% url 'subcategories' category.id %}" class="category-button">
                            {{category.id}} - {{ category.name }}
                        </a>
                    {% endfor %}

                    <a class="category-button" href="{{urlMercadoLivre}}productsMercadoLivre/?value=/alimentos-bebidas/comida-preparada/">
                        Comida preparada (MercadoLivre)
                    </a>

                    <a class="category-button" href="{{urlMercadoLivre}}productsMercadoLivre/?value=/alimentos-bebidas/bebidas/">
                        Bebidas (MercadoLivre)
                    </a>

                    <a class="category-button" href="{{urlMercadoLivre}}productsMercadoLivre/?value=/alimentos-bebidas/congelados/">
                        Congelados (MercadoLivre)
                    </a>
                </div>
            </section>
        </div>
    </main>

    <script src="{% static 'js/ajax.js' %}"></script>

    {% include 'layouts/footer.html' %}
    {% endblock  %}
    
</body>
</html>
