<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Informacion del producto</title>
</head>
<body>
    {% extends 'layouts/navbars.html' %}
    {% block content %}
    {% load custom_filters %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/productInfo.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbars.css' %}">
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
    <main role="main">
    <div class="content">
       
        {% if product %}
            <section aria-labelledby="product-title">
            <div class="productInfoContainer">
                <h1 id="product-title">{{product.name}}</h1>
                <img class="productImage" src="{{product.image}}" alt="Imatge de {{product.name}}">
                {% if user.is_authenticated %}
                    <nav aria-label="Accions del producte">
                    <div class="productActions">
                        {% if productDB %}
                            <div id="actionsContainer">
                                <div class="divHelper">
                                    <button class="buttonsContainer" id="removeFromCart" class="removeFromCart" onclick="removeFromInfo('{{product.id}}')">-</button>
                                    <p id="totalProduct">En el carrito: {{productDB}}</p>
                                    <button class="buttonsContainer" id="addToCart" class="addToCart" onclick="addFromInfo('{{product.id}}')">+</button>
                                </div>
                            </div>
                        {% else %}
                            <div id="actionsContainer">
                                <button class="buttonsContainer"  id="addToCartButton{{ product.id }}" onclick="addFirstFromInfo('{{ product.id }}')">Añadir producto</button>
                            </div>
                        {% endif %}
                    </div>
                    </nav>
                {% endif %}
                
                <p>Preu: {{product.price}}€</p>
                <section aria-labelledby="specifications-title" class="productSpecifications">
                    <h3 id="specifications-title" class="visually-hidden">Especificaciones del producto</h2>
                    {% if product.origin %}
                        <p>Origen: {{product.origin}}</p>
                    {% else %}
                        <p>Origen: Desconegut</p>
                    {% endif %}
                    {% if product.brand %}
                        <p>Marca: {{product.brand}}</p>
                    {% else %}
                        <p>Marca: Desconeguda</p>
                    {% endif %}
                    {% if product.usage_instructions %}
                        <p>Instrucciones de uso: {{product.usage_instructions}}</p>
                    {% else %}
                        <p>Instrucciones de uso: No disponibles</p>
                    {% endif %}
                </section>
            </div>
            </section>
        {% else %}
            <section aria-labelledby="error-title">
            {% if error %}
                <h1 id="error-title">{{error}}</h1>
            {% else %}
                <h1 id="error-title">Producte no trobat</h1>
            {% endif %}
            </section>
        {% endif %}
        <nav aria-label="Enllaços de navegació">
        {% if subcategory_id %}
            <a href="{% url 'products' subcategory_id %}" class="buyButton">Volver</a>
        {% else %}
            <a href="{% url 'indexLogat' %}" class="buyButton">Volver</a>
        {% endif %}
        </nav>
    </div>  
    </main>
    <script defer src="{% static 'js/ajax.js' %}"></script> 
    
    {% include 'layouts/footer.html' %}
    {% endblock %}

    
</body>
</html>
