<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Informació del producte</title>
</head>
<body>
    {% extends 'layouts/navbars.html' %}
    {% block content %}
    {% load custom_filters %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/productInfo.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbars.css' %}">
    <div class="content">
        {% if product %}
            <div class="productInfoContainer">
                
                <h1>{{product.title}}</h1>
                <img class="productImage" src="{% static 'na.png' %}" alt="Imatge de {{product.title}}">

                {% if user.is_authenticated %}
                    <div class="productActions">
                        {% if productDB %}
                            <div id="actionsContainer">
                                <div class="divHelper">
                                    <button class="buttonsContainer" id="removeFromCart" class="removeFromCart" onclick="removeFromInfo('{{product.id}}')">-</button>
                                    <p id="totalProduct">En el carrito: {{productDB}}</p>
                                    <button class="buttonsContainer" id="addToCart" class="addToCart" onclick="addFromInfo('{{product.id}}')">+</button>
                                </div>
                            </div>
                        {% else %}
                            <div id="actionsContainer">
                                <button class="buttonsContainer"  id="addToCartButton{{ product.id }}" onclick="addFirstFromInfo2('{{ product.id }}')">Añadir producto</button>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}

                <p>Preu: {{product.price}}€</p>
                <div class="productSpecifications">
                    {% if product.origin %}
                        <p>Origen: {{product.origin}}</p>
                    {% else %}
                        <p>Origen: Desconegut</p>
                    {% endif %}
                    {% if product.brand %}
                        <p>Marca: {{product.brand}}</p>
                    {% else %}
                        <p>Marca: Desconeguda</p>
                    {% endif %}
                    {% if product.usage_instructions %}
                        <p>Instrucciones de uso: {{product.usage_instructions}}</p>
                    {% else %}
                        <p>Instrucciones de uso: No disponibles</p>
                    {% endif %}
                </div>
            </div>
        {% else %}
            {% if error %}
                <h1>{{error}}</h1>
            {% else %}
                <h1>Producto no encontrado</h1>
            {% endif %}
        {% endif %}
    </div>  
    <script defer src="{% static 'js/ajax.js' %}"></script> 
    
    {% include 'layouts/footer.html' %}
    {% endblock %}

    
</body>
</html>
