<!DOCTYPE html>
<html lang="cat">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productes</title>
</head>
<body>
    {% extends 'layouts/navbars.html' %}
    {% block content %}
    {% load static %}
    
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
    <div class="content">
        <h1>Productes</h1>
        {% if subcategory_id %}
            <a class="tornarButton" href="{% url 'subcategories' subcategory_id %}">Tornar</a>
        {% else %}
            <a class="tornarButton" href="{% url 'indexLogat' %}">Tornar</a>
        {% endif %}
        
        {% if user.is_authenticated %}
            <select class="groupsDropdown" id="groupsDropdown" onchange="refreshGroupProducts(this.value)">
                <option value="user">Mi perfil</option>
                {% for group in groups %}
                <option value="{{ group.id }}">{{ group.name }}</option>
                {% endfor %}
            </select>
        {% endif %}
        {% if products %}
            <div id="productsContainer" class="divProducts-container">
                {% for product in products %}
                    <div class="divProducts">
                        <a class="afix" href="{% url 'productInfo' product.id %}">
                            <img src="{{ product.thumbnail }}" alt="{{ product.display_name }}">
                        </a>
                        <strong>{{ product.display_name }}</strong>

                        <div class="price">
                        {% if product.price_instructions.previous_unit_price %}
                            <span class="oldPrice">{{ product.price_instructions.previous_unit_price }}€</span>
                        {% endif %}
                        <span>{{ product.price_instructions.unit_price }}€</span>
                        </div>
                        
                        <hr>
                        <a class="moreInfo" href="{% url 'productInfo' product.id %}">Más información</a>

                        {% if user.is_authenticated %}

                            {% if product.id|stringformat:"s" in shopingList %}
                                {% for product_id, quantity in qnty %}
                                    {% if product_id|stringformat:"s" == product.id|stringformat:"s" %}
                                        <button class="buyButton" id="addToCartButton{{ product.id }}" onclick="addProductToCart('{{ product.id }}', getSelectedGroupId())">En el carrito: {{ quantity }}</button>
                                    {% endif %}
                                {% endfor %}
                            {% else %}

                                <button class="buyButton" id="addToCartButton{{ product.id }}" onclick="addProductToCart('{{ product.id }}', getSelectedGroupId())">Añadir al carro</button>
                            {% endif %}

                            {% if product.id|stringformat:"s" in favorites %}
                                <button class="buyButton" id="favoriteButton{{ product.id }}" onclick="toggleFavorite('{{ product.id }}', true, getSelectedGroupId())">
                                    <img src="{% static 'ea.png' %}" alt="Quitar de favoritos" style="width: 16px; height: 16px;">
                                </button>
                            {% else %}
                                <button class="buyButton" id="favoriteButton{{ product.id }}" onclick="toggleFavorite('{{ product.id }}', false, getSelectedGroupId())">
                                    <img src="{% static 'en.png' %}" alt="Añadir a favoritos" style="width: 16px; height: 16px;">
                                </button>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div id="productsContainer">
                <h2>No hay productos disponibles</h2>
            </div>
        {% endif %}

        <div class="pagination">
            {% if products.has_previous %}
                <a href="?page={{ products.previous_page_number }}">Anterior</a>
            {% endif %}

            <span>Página {{ products.number }} de {{ products.paginator.num_pages }}</span>

            {% if products.has_next %}
                <a href="?page={{ products.next_page_number }}">Siguiente</a>
            {% endif %}
        </div>

    </div>  
    <script defer src="{% static 'js/ajax.js' %}"></script> 
    {% include 'layouts/footer.html' %}
    {% endblock %}

    
</body>
</html>
