<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping cart</title>
</head>
<body>
    
    {% extends 'layouts/navbars.html' %}
    {% block content %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/shoppingCart.css' %}">
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
    
    <div class="content">
        {{ message }}
        {% if groupVar %}
            <form id="buyForm" method="post" action="{% url 'removeCheckedProducts' groupVar %}">

                <h1>Carret de la compra</h1>
                {{ error}}
                <hidden id="groupId" name="groupId" value="user"></hidden>

                {% csrf_token %}
                {% for product in shoppingCart %}
                    <div id="product{{product.product_id}}" class="divCartProducts">

                        <input onclick="checkProduct('{{ product.product_id }}')" type="checkbox" id="checkbox{{ product.product_id }}" name="checkbox" value="{{ product.product_id }}">

                        <h2 id="name{{ product.product_id}}" class="productField">{{ product.name }}</h2>

                        {% if not product.image %}
                            <img class="productImg" id="image{{ product.product_id }}" src="{% static 'na.png' %}" alt="product image">
                        {% else %}
                            <img class="productImg" id="image{{ product.product_id }}" src="{{ product.image }}" alt="product image">
                        {% endif %}
                        

                        <p id="price{{product.product_id}}" class="productField">{{ product.price }}€</p>

                        
                        <div class="divUtils">
                            <button class="buttons" id="-{{ product.product_id }}" type="button" onclick="deleteOne('{{ product.product_id }}', '{{ group_id }}')"> - </button>

                            <p id="quantity{{ product.product_id }}">{{ product.quantity }}</p>

                            <button class="buttons" id="+{{ product.product_id}}" type="button" onclick="addOne('{{ product.product_id }}', '{{ group_id }}')"> + </button>
                        </div>

                        {% if product.supermarket == 1 %}
                            <img class="brandImg" id="supermarket{{ product.product_id }}" src="{% static 'lidl.png' %}" alt="MercadoLivre">
                        {% else %}
                            <img class="brandImg" id="supermarket{{ product.product_id }}" src="{% static 'mercadona.png' %}" alt="Mercadona">
                        {% endif %}

                        <button class="listButtons" id="removeButton{{ product.product_id }}" type="button" onclick="removeProduct('{{ product.product_id }}', '{{ group_id }}')">
                            <img class="buttonImg" src="{% static 'x.webp' %}" alt="Eliminar producte">
                        </button>
                    </div>
                {% endfor %}
            
                <div class="divTotal">
                    <p>Això nomes és un preu de referencia, pot variar de l’original i ser diferent dels supermercats de la teva zona. Es un preu aproximat.</p>
                    <p id="total">Total = {{ totalPrice }}€</p>
                    <button class="buyButton" type="submit">Comprar</button>
                </div>
            </form>
        {% else %}
            <h1>Aquest grup no existeix.</h1>
        {% endif %}
    </div>
        <script defer src="{% static 'js/ajax.js' %}"></script> 
    {% include 'layouts/footer.html' %}
    {% endblock %}
</body>
</html> 