body {

    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin-top: 3%;
}

.messages{

    background-color: #37e7e7;
    font-family: Arial, sans-serif;
    margin-top: 3%;
    padding: 1rem 1rem 1rem 1rem;
    border: none;
    border-radius: 10px;
}

.errors{

    width: auto;
    background-color: #ff0000;
    font-family: Arial, sans-serif;
    margin-top: 1rem;
    padding: 1rem 1rem 1rem 1rem;
    border: none;
    border-radius: 10px;
}

.topbar{

    left: -50px;
    top: 0.1%;
    display: flex;
    
    align-items: center;
    background-color: aliceblue;
    color: black;
    padding: 1rem 5rem ;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logoweb{
    width: 4%;
    height: 5%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Empuja los elementos hacia arriba y abajo */
    align-items: center;
    height: calc(100vh - 70px); /* Ajusta la altura para dejar espacio para la barra horizontal */
    width: 10%;
    position: fixed; /* Para que no se mueva al hacer scroll */
    top: 50px; /* Baja la barra lateral para dejar espacio para la barra horizontal */
    left: 0;
    background-color: aliceblue;
    color: black;
    padding-top: 20px;
}

.divLogos {
    width: 100%; /* Para que ocupe todo el ancho de la sidebar */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto; /* Empuja el contenido hacia abajo */
    padding-bottom: 20px; /* Espaciado opcional */
}

.logos {
    width: 50%;
    height: auto;

    margin-bottom: 10%;
}

.sidebar a {

    display: block;
    color: black;
    padding: 1rem 1.5rem;
    text-decoration: none;
}
.sidebar a:hover {
    background-color: #575757;
}
.content {
    margin-left: 10%;
    padding: 5%;
}

.content{
    background-color: #f0f0f0;
}

.divProducts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    background-color: f0f0f0;
    padding: 20px;
    border-radius: 10px;
}

.divProducts {
    background-color: white;
    width: 200px;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    
    /* Asegura que todo el contenido se organice en columna */
    display: flex;
    flex-direction: column;
     /* Para que todas las tarjetas tengan la misma altura */
}

.divProducts img {
    width: 100%;
    height: 120px;
    object-fit: contain;
    border-radius: 5px;
}

.divProducts strong {
    display: block;
    margin: 10px 0;
    font-size: 1rem;
}

.divProducts a {
    display: block;
    margin-top: auto; /* Empuja el botón hacia abajo */
    padding: 5px;
    background-color: white;
    border: 1px solid black;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    font-size: 0.9rem;
}

.divProducts a:hover, .tornarButton:hover {
    background-color: lightgray; 
}

.tornarButton{
    display: block;
    width: 3.2%;
    padding: 5px;
    background-color: white;
    border: 1px solid black;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    font-size: 0.9rem;
}

.categories-container {
    display: flex;
    flex-wrap: wrap;  /* Permite que los botones pasen a la siguiente línea si no caben */
    justify-content: center;
    gap: 10px;  /* Espaciado entre botones */
    padding: 20px;
}

.category-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: black;
    text-decoration: none;
    border: 2px solid #000;
    border-radius: 8px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.category-button:hover {
    background-color: lightblue;
    color: black;
}

.price{

    gap: 1rem;
    align-items: center;
    text-align: center;

}

.oldPrice{
    text-decoration: line-through;
    color: red;
}

.profileUtils {

    display: flex;
    justify-content: flex-end; /* Alinea los elementos a la derecha */
    align-items: center;
    gap: 1rem;
    margin-right: 1rem; /* Añade un margen opcional a la derecha */
}

.name{
    text-align: left;
}


.configForm {

    align-items: center;
    width: 100%;
    padding: 1rem 1rem 1rem 1rem;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 2rem 0 2rem -1rem;
    left: 25%;
    background-color: wheat;
    border: none;
    height: 50%;
    width: 50%;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.saveButton{
    
    background-color: #007bff;
    color: white;
    border: none;
    text-decoration: none;
    border-radius: 10px;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    width: 100%;
}

.configInputs{

    border: none;
    border-radius: 10px;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    width: 100%;        
}

.dngButton{
    
    background-color: #ff0000;
    color: white;
    border: none;
    text-decoration: none;
    border-radius: 10px;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    width: 100%;
}

.dngButton:hover{
    background-color: #7f0202;
}

hr {
    width: 60%;
    margin: 1rem auto; /* Centra el elemento horizontalmente */
    border: none;
    border-top: 5px solid #000; /* Aumenta el grosor */
    border-radius: 10px; /* Redondea las puntas */
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scaleX(0px);
    }
    to {
        opacity: 1;
        transform: scaleY(100%);
    }
}


.content {
    animation: fadeIn 0.5s ease-in-out;
}
